extends layout
include mixins/question
include mixins/auth

block content
  header.site__header
    img.brand(src='/images/brand.svg')
    img.logo(src='/images/logo.svg')

  main.HolyGrail-body
    section.page.page--home(data-label='home')
      img(src='/images/introducing.svg')
      img(src='/images/big-logo.svg')

      button#js-start.button Comenzar

    section.page.page--form(data-label='form')
      +auth()

    section.page.page--computing(data-label='computing')
      #js-spinner-1.spinner
        .spinner__label
        each question in questions
          each answer in question.answers
            .spinner__image.hide
              img(src=answer.img)


    each question, index in questions
      section.page.page--question(data-label='question')
        +question(question)

    section.page.page--computing(data-label='computing')
      .computing__header
        h2.computing__header__top Calculando
        h1.computing__header__bottom Nivel de Nerd
      #js-spinner-2.spinner

    section.page.page--result(data-label='result')
      .result__header
        h1.result__heading Sos un poquito nerd
        p.result__copy
          | El primer paso es asumirlo.
          | El segundo es probarte unos MYTHO para aumentar tu nerd power.

      .nerdBar
        h1.nerdBar__label 50%
        .nerdBar__content

    section.page.page--ad(data-label='ad')

  footer.site__footer
    #js-progress.progress
      each question, step in questions
        .progress__step
