extends layout
include mixins/question
include mixins/auth

block content
  header.site__header
    img.brand(src='/images/brand.svg')
    img.logo(src='/images/logo.svg')

  main.HolyGrail-body
    section.page.page--home.page--loading(data-label='home')
      .home__show__intro
        img(src='/images/introducing.svg')
      .home__show__after
        img(src='/images/big-logo.svg')
        h1.home__heading Participá por unos lentes <b>MYTHO</b>
        button#js-start.button Hacé el test

    section.page.page--form(data-label='form')
      +auth()

    section.page.page--computing(data-label='computing')
      #js-spinner-1.spinner
        .spinner__label
        each question in questions
          each answer in question.answers
            .spinner__image.hide
              img(src=answer.img)


    each question, index in questions
      section.page.page--question(data-label='question')
        +question(question)

    section.page.page--computing(data-label='computing')
      .computing__header
        h2.computing__header__top Calculando
        h1.computing__header__bottom Tu orgullo Nerd
      #js-spinner-2.spinner

    section.page.page--result(data-label='result')
      .result__header.result__header--30
        h1.result__heading.animated.fadeInDown No sos nerd
        p.result__copy.animated.fadeInDown
          | Igual tenés arreglo: probate unos <b>MYTHO</b>.

      .result__header.result__header--50
        h1.result__heading.animated.fadeInDown Sos un poquito nerd
        p.result__copy.animated.fadeInDown
          | El primer paso es asumirlo.
        p.result__copy.animated.fadeInDown
          | El segundo es probarte unos <b>MYTHO</b> para aumentar tu nerd power.

      .result__header.result__header--70
        h1.result__heading.animated.fadeInDown Sos nerd
        p.result__copy.animated.fadeInDown
          | Tan importante como serlo, es parecerlo.
          | Probate unos <b>MYTHO</b> y convertite en presidente del club de fans de Stephen Hawking.

      .result__header.result__header--90
        h1.result__heading.animated.fadeInDown Sos recontra nerd
        p.result__copy.animated.fadeInDown
          | Alzamos nuestros sables láser en tu homenaje.
        p.result__copy.animated.fadeInDown
          | ¡Que la fuerza te acompañe!

      .nerdBar
        h1.nerdBar__label.animated.fadeIn
        .nerdBar__content

    section.page.page--ad(data-label='ad')
      h1.animated.rollIn Gracias por Participar
      p.animated.rollIn Mucha suerte si te anotaste al sorteo!

  footer.site__footer
    #js-progress.progress
      each question, step in questions
        .progress__step
