extends layout
include mixins/question
include mixins/auth

block content
  section.page.home
    h3 Orgullo Nerd Presenta

    h1 Nerdómetro

    a#js-start Empezá el test

  section.page.auth
    +auth()

  section#js-pre-computing.page.computing
    h2 Preparando Preguntas

    #js-pre-computing-progress.circle

  each question, index in questions
    section.page.question
      header.page__header
        img.brand(src='/images/brand.png')
        img.logo(src='/images/logo.png')

      +question(question)

      footer.page__footer

  #js-progress.circle.progress-bar

  section#js-post-computing.page.computing
    h2 Calculando Nerdlevel

  section.page.results

  section.page.ad
