extends layout
include mixins/question
include mixins/auth

block content
  header.site__header
    img.brand(src='/images/brand.svg')
    img.logo(src='/images/logo.svg')

  main.HolyGrail-body
    section.page.page--home(data-label='home')
      img(src='/images/introducing.svg')
      img(src='/images/big-logo.svg')

      button#js-start.button Comenzar

    section.page.page--form(data-label='form')
      +auth()

    section.page.page--computing(data-label='computing')
      #js-spinner.spinner
        .spinner__label
        each question in questions
          each answer in question.answers
            .spinner__image.hide
              img(src=answer.img)


    each question, index in questions
      section.page.page--question(data-label='question')
        +question(question)

    section.page.page--computing(data-label='computing')
      h2 Calculando Nivel de Nerd

    section.page.page--result(data-label='result')

    section.page.page--ad(data-label='ad')

  footer.site__footer
    .progress
      each question, step in questions
        .progress__step
