extends layout
include mixins/question
include mixins/auth

block content
  section.page.container.home.center-align
    h3 Orgullo Nerd Presenta

    h1 Nerdómetro

    a#js-start.waves-effect.waves-light.btn-large Empezá el test

  section.page.container.auth
    +auth()

  section#js-pre-computing.page.container.computing
    h2 Preparando Preguntas

    #js-pre-computing-progress.circle

  each question, index in questions
    section.page.container.question
      +question(question)

  #js-progress.circle.progress-bar

  section#js-post-computing.page.container.computing
    h2 Calculando Nerdlevel

  section.page.container.results

  section.page.container.ad
