extends layout
include mixins/question
include mixins/auth

block content
  section.page.page__home
    h3 Orgullo Nerd Presenta

    h1 Nerdómetro

    a#js-start Empezá el test

  section.page.page__auth
    +auth()

  section.page.page__computing
    h2 Preparando Preguntas

  each question, index in questions
    section.page.page__question
      +question(question)

  section.page.page__computing
    h2 Calculando Nivel de Nerd

  section.page.page__results

  section.page.page__ad
