.authForm {
  max-width: 48em;
  min-width: 38em;
}

.authForm__input {
  margin-bottom: 40px;
}

.authForm__input input {
  border: 3px solid white;
  color: white;
  font-size: 1.5em;
  outline: none;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.authForm__input input::placeholder {
  color: white;
  text-transform: none;
}

.authForm__input input:focus::placeholder {
  color: transparent;
}

.authForm__footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 10em;
  justify-content: space-between;
}

.authForm__link {
  font-size: 1.25em;
  text-decoration: none;
  text-transform: uppercase;
}
