.progress {
  bottom: 0;
  display: none;
  justify-content: space-between;
  left: 50%;
  max-width: 50em;
  position: absolute;
  transform: translate3d(-50%, -5em, 0);
  width: 75%;
}

.progress::before,
.progress::after {
  background: white;
  content: '';
  height: 3px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.progress::after {
  right: 0;
}

.progress::before {
  height: 5px;
  transition: width 1s ease-in-out .25s;
  will-change: width;
}

.progress[data-length="10"]::before { width: 0%; }
.progress[data-length="20"]::before { width: 11%; }
.progress[data-length="30"]::before { width: 22%; }
.progress[data-length="40"]::before { width: 33%; }
.progress[data-length="50"]::before { width: 44%; }
.progress[data-length="60"]::before { width: 55%; }
.progress[data-length="70"]::before { width: 66%; }
.progress[data-length="80"]::before { width: 77%; }
.progress[data-length="90"]::before { width: 88%; }
.progress[data-length="100"]::before { width: 100%; }

.progress__step {
  background: #069D9F;
  border: white 3px solid;
  border-radius: 100%;
  display: block;
  height: 1.5em;
  transition: background .25s ease-in 1s;
  width: 1.5em;
  will-change: background;
  z-index: 2;
}

.progress__step--active {
  background: white;
}
