html {
  color: white;
  font-family: Montserrat;
}

a {
  color: white;
  font-weight: 300;
}

body {
  background: url('/images/background.gif') center top no-repeat;
  background-size: cover;
}

.hide {
  display: none;
}

.button {
    border: 6px solid #fff;
    border-radius: 2em;
    color: #fff;
    font-size: 2em;
    padding: .5em 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    position: relative;
}

.button:focus {
  outline: none;
}

.HolyGrail {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.HolyGrail-body {
  display: flex;
  flex: 1;
}

.HolyGrail-content {
  flex: 1;
}

.site__header {
  align-items: center;
  display: flex;
  padding: 1.5em 3em;
  position: absolute;
  justify-content: space-between;
  left: 0;
  right: 0;
  top: 0;
}

.progress {
  display: none;
}

.page--question .progress {
  display: flex;
}

.page {
  align-items: center;
  display: flex;
  flex: 0 0 100vw;
  flex-direction: column;
  justify-content: center;
}

.page--home {
  justify-content: space-around;
}

.page--home .logo {
  opacity: 0;
}

.page--computing {
  flex-direction: row;
}

.page--result {
  flex-direction: row;
}

.predicate {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.heading {

}

.heading--primary {

}

.heading--secondary {

}

.computing__header {
  margin-right: 10em;
  text-align: center;
}

.computing__header__top {
  font-size: 3em;
  font-weight: 300;
  margin-bottom: 0;
}

.computing__header__bottom {
  font-size: 4em;
  font-weight: normal;
  margin-top: 0;
}

.result__header {
  max-width: 30em;
  margin-right: 10em;
}

.result__heading {
  font-size: 4em;
}

.result__copy {
  font-size: 2em;
  font-weight: 300;
}

/*Test*/

.glitch {

}

@keyframes noise-anim {
  0% {
    clip: rect(66px, 9999px, 73px, 0);
  }
  5% {
    clip: rect(32px, 9999px, 95px, 0);
  }
  10% {
    clip: rect(79px, 9999px, 83px, 0);
  }
  15% {
    clip: rect(30px, 9999px, 74px, 0);
  }
  20% {
    clip: rect(18px, 9999px, 56px, 0);
  }
  25% {
    clip: rect(84px, 9999px, 89px, 0);
  }
  30% {
    clip: rect(11px, 9999px, 1px, 0);
  }
  35% {
    clip: rect(1px, 9999px, 36px, 0);
  }
  40% {
    clip: rect(13px, 9999px, 72px, 0);
  }
  45% {
    clip: rect(5px, 9999px, 54px, 0);
  }
  50% {
    clip: rect(39px, 9999px, 81px, 0);
  }
  55% {
    clip: rect(73px, 9999px, 21px, 0);
  }
  60% {
    clip: rect(11px, 9999px, 69px, 0);
  }
  65% {
    clip: rect(15px, 9999px, 47px, 0);
  }
  70% {
    clip: rect(39px, 9999px, 50px, 0);
  }
  75% {
    clip: rect(55px, 9999px, 16px, 0);
  }
  80% {
    clip: rect(4px, 9999px, 88px, 0);
  }
  85% {
    clip: rect(33px, 9999px, 59px, 0);
  }
  90% {
    clip: rect(4px, 9999px, 68px, 0);
  }
  95% {
    clip: rect(44px, 9999px, 25px, 0);
  }
  100% {
    clip: rect(22px, 9999px, 16px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 48px;
  text-shadow: -1px 0 red;
  top: 15px;
  color: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 6s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(91px, 9999px, 6px, 0);
  }
  5% {
    clip: rect(70px, 9999px, 82px, 0);
  }
  10% {
    clip: rect(72px, 9999px, 34px, 0);
  }
  15% {
    clip: rect(96px, 9999px, 45px, 0);
  }
  20% {
    clip: rect(64px, 9999px, 58px, 0);
  }
  25% {
    clip: rect(21px, 9999px, 44px, 0);
  }
  30% {
    clip: rect(35px, 9999px, 31px, 0);
  }
  35% {
    clip: rect(10px, 9999px, 66px, 0);
  }
  40% {
    clip: rect(23px, 9999px, 56px, 0);
  }
  45% {
    clip: rect(37px, 9999px, 40px, 0);
  }
  50% {
    clip: rect(88px, 9999px, 80px, 0);
  }
  55% {
    clip: rect(60px, 9999px, 50px, 0);
  }
  60% {
    clip: rect(55px, 9999px, 89px, 0);
  }
  65% {
    clip: rect(74px, 9999px, 46px, 0);
  }
  70% {
    clip: rect(12px, 9999px, 27px, 0);
  }
  75% {
    clip: rect(12px, 9999px, 45px, 0);
  }
  80% {
    clip: rect(22px, 9999px, 77px, 0);
  }
  85% {
    clip: rect(64px, 9999px, 32px, 0);
  }
  90% {
    clip: rect(29px, 9999px, 54px, 0);
  }
  95% {
    clip: rect(65px, 9999px, 8px, 0);
  }
  100% {
    clip: rect(60px, 9999px, 20px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: 48px;
  text-shadow: 1px 0 blue;
  top: 15px;
  color: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 10s infinite linear alternate-reverse;
}

