html {
  background: linear-gradient(to right, #64B5F6, #64B5F6 50%, #fafafa 50%, #fafafa)
}

.HolyGrail {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.HolyGrail-body {
  display: flex;
  flex: 1;
}

.HolyGrail-content {
  flex: 1;
}

.question {
  display: flex;
  margin-bottom: 0;
  flex: 0 0 100vw;
}

.answer {
  cursor: pointer;
}
