html {
  color: white;
  font-family: Montserrat;
}

a {
  color: white;
  font-weight: 300;
}

body {
  background-image: linear-gradient(140deg, #5159f5, #049f9d);
}

.HolyGrail {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.HolyGrail-body {
  display: flex;
  flex: 1;
}

.HolyGrail-content {
  flex: 1;
}

.site__header {
  align-items: center;
  display: flex;
  padding: 1.5em 3em;
  position: absolute;
  justify-content: space-between;
  left: 0;
  right: 0;
  top: 0;
}

.page {
  align-items: center;
  display: flex;
  flex: 0 0 100vw;
  flex-direction: column;
  justify-content: center;
}

.predicate {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
