mixin answer(answer, index)
  .answer(class='answer-' + index, data-value=index).card.hoverable.waves-effect.waves-light.animated.flipInY
    .card-image
      img.responsive-img(src=answer.img)
      span.card-title #{answer.label}
