include keyboard

mixin auth()
  .authForm
    p.authForm__heading
      | Antes de comenzar registrate para participar
      | de un sorteo por unos lentes al final del evento.

    form#js-auth
      .authForm__input
        input#js-nombre(name='nombre', type='text', autocomplete='off', placeholder='Tu Nombre')
        +keyboard(true)

      .authForm__input
        input#js-tel(name='tel', type='tel', autocomplete='off', placeholder='Tu Celular')
        +keyboard()

      .authForm__footer
        button(type='submit') Registrarme
        a#js-skip(href='#') No quiero registrarme
