include keyboard

mixin auth()
  .authForm
    form#js-auth
      .authForm__input
        input#js-nombre(name='nombre', type='text', autocomplete='off', placeholder='Tu nombre')
        +keyboard(true)

      .authForm__input
        input#js-tel(name='tel', type='tel', autocomplete='off', placeholder='Tu celular')
        +keyboard()

      .authForm__footer
        button.button(type='submit') ¡Vamos!
        a#js-skip.authForm__link(href='#') Prefiero hacer el test y no registrarme.
