include keyboard

mixin auth()
  p Antes de comenzar registrate para para participar de un sorteo por unos lentes!

  form#js-auth
    .input-field
      input#js-nombre(name='nombre', type='text', autocomplete='off')
      label(for='js-nombre') Nombre
      +keyboard(true)

    .input-field
      input#js-tel(name='tel', type='tel', autocomplete='off')
      label(for='js-tel') Celular
      +keyboard()

    button(type='submit') Registrarme

  a#js-skip(href='#') No quiero registrarme
