mixin auth()
  p.flow-text Antes de comenzar registrate para para participar de un sorteo por unos lentes!
  
    form#js-auth
      .input-field
        i.material-icons.prefix account_circle
        input#nombre.validate(name='nombre', type='text')
        label(for='nombre') Nombre
      .input-field
        i.material-icons.prefix phone
        input#tel.validate(name='tel', type='tel')
        label(for='tel') Celular
      button.btn.btn-large.waves-effect.waves-light(type='submit') Registrarme
    
    a#js-skip(href='#') No quiero registrarme
