include answer

mixin question(question, index, total)
  .question.row
    .col.m6.valign-wrapper.blue.lighten-2
      section.center-align
        h3 Pregunta #{index + 1}/#{total}
        h2.white-text #{question.predicate}
    .col.m6.valign-wrapper
      .row
        each answer, index in question.answers
          .col.m12.l6
            +answer(answer, index)
