include answer

mixin question(question)
  h3.animated.fadeInDown.center-align #{question.predicate}
  .answers
    .row
      each answer, index in question.answers
        .col.m12.l6
          +answer(answer, index)
